$color-primary: #4c5f55;
$color-primary-light: #687b71;
$color-primary-dark: #2f3e36;

$color-secondary: #d5dcba;
$color-secondary-light: #f3f6e4;
$color-secondary-dark: #b1bb8b;

$color-tertiary: #89a5b1;
$color-tertiary-light: #bbccd4;
$color-tertiary-dark: #5e8393;

$color-logo: #2e5a1d;

$color-black: #313639;
$color-white: #fff;

$text-color-dark: #313639;
$text-color-light: #fff;

$body-font: museo-sans;
$logo-font: liebidoni-solid;